tqdm==4.54.1
pyyaml==6.0
pandas==0.24.2
numba==0.47.0
scipy==1.4.1
torch==1.7.0
torch-scatter==2.0.7
torch-sparse==0.6.9
torch-cluster==1.5.9
torch-spline-conv==1.2.1
torch-geometric==1.7.2
tensorboard==1.15.0